// https://github.com/cloudflare/workers-sdk/issues/10499

.container {
  // max-width: #{layout.$main-maxwidth};
  max-width: 1120px;
  margin: auto;
  padding: 1rem;
}

.item {
  display: grid;
  grid-template-columns: 48px 1fr;
  grid-template-rows: 48px auto;
  grid-template-areas: 'icon title' '. desc';
  row-gap: 1rem;
  column-gap: 2rem;
  margin: 2rem 0;
  align-items: center;
  justify-items: start;
}

.icon {
  height: 48px;
  width: 48px;
  grid-area: icon;
}

.title {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 700;
  grid-area: title;
}

.desc {
  margin: 0;
  grid-area: desc;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  gap: 1rem;
}

.footerText {
  text-align: center;
  font-size: 0.875rem;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.links {
  display: flex;
  gap: 2rem;
}
